<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur TechRace !</title>
</head>
<body>
    <h1>Bienvenue sur TechRace, {{.Username}}!</h1>
    <p>Nous sommes ravis de vous accueillir au sein de notre communauté TechRace, où vous pouvez explorer le monde passionnant des voitures télécommandées.</p>
    <p>Préparez-vous à découvrir des courses palpitantes, des véhicules innovants, et une communauté de passionnés tout aussi enthousiastes que vous.</p>
    <p>Si vous avez des questions ou avez besoin d'assistance, notre équipe est là pour vous aider. N'hésitez pas à nous contacter à tout moment !</p>
    <p>Merci de nous avoir rejoints et amusez-vous bien,</p>
    <p>L'équipe TechRace</p>
</body>
</html>
